In [2]:
import pandas as pd
import numpy as np

In [3]:
#Importing file path into Pandas

file = "election_data.csv"
dfs = pd.read_csv(file)
print(dfs)

         Voter ID   County Candidate
0        12864552    Marsh      Khan
1        17444633    Marsh    Correy
2        19330107    Marsh      Khan
3        19865775    Queen      Khan
4        11927875    Marsh      Khan
5        19014606    Marsh        Li
6        17775191    Queen    Correy
7        14003692    Marsh      Khan
8        14255761    Marsh      Khan
9        13870173    Marsh    Correy
10       16793141    Marsh      Khan
11       10591158    Bamoo    Correy
12       12344763  Trandee      Khan
13       18611011    Marsh      Khan
14       17845903    Marsh    Correy
15       12621425  Trandee      Khan
16       14365844    Marsh    Correy
17       13444989    Marsh    Correy
18       19204501  Trandee      Khan
19       10098063    Queen    Correy
20       19843246    Marsh    Correy
21       11509120    Marsh    Correy
22       13402499    Marsh    Correy
23       18138694    Marsh      Khan
24       15056703    Marsh      Khan
25       12026178    Queen      Khan
26       16667390    Marsh      Khan
27       12847422    Queen      Khan
28       10599242    Marsh      Khan
29       18558857    Queen    Correy
...           ...      ...       ...
3520971  17923362    Marsh      Khan
3520972  11357988    Marsh      Khan
3520973  13741548    Marsh    Correy
3520974  19929693    Marsh      Khan
3520975  16441960    Marsh      Khan
3520976  19992954    Marsh  O'Tooley
3520977  13845046    Marsh      Khan
3520978  18550834    Marsh    Correy
3520979  17540334    Queen      Khan
3520980  11020483    Queen  O'Tooley
3520981  15912885  Trandee      Khan
3520982  12609301    Marsh      Khan
3520983  14774584    Marsh        Li
3520984  13283796    Marsh      Khan
3520985  13359648    Bamoo      Khan
3520986  17391173    Queen    Correy
3520987  18995053    Queen      Khan
3520988  11867516    Bamoo        Li
3520989  18589143    Marsh      Khan
3520990  12282098    Marsh      Khan
3520991  16950418    Marsh    Correy
3520992  13715415    Marsh      Khan
3520993  18129849    Marsh      Khan
3520994  15785886    Marsh    Correy
3520995  12890090    Marsh    Correy
3520996  18050509    Marsh      Khan
3520997  13060332    Marsh      Khan
3520998  16754708    Queen      Khan
3520999  12083146    Queen      Khan
3521000  14526187    Queen  O'Tooley

[3521001 rows x 3 columns]

In [4]:
#The total number of votes cast
totalVotes = len(dfs)
print("Total Votes", totalVotes)

Total Votes 3521001

In [10]:
#A complete list of candidates who received votes
dfs['Candidate']

0              Khan
1            Correy
2              Khan
3              Khan
4              Khan
5                Li
6            Correy
7              Khan
8              Khan
9            Correy
10             Khan
11           Correy
12             Khan
13             Khan
14           Correy
15             Khan
16           Correy
17           Correy
18             Khan
19           Correy
20           Correy
21           Correy
22           Correy
23             Khan
24             Khan
25             Khan
26             Khan
27             Khan
28             Khan
29           Correy
             ...
3520971        Khan
3520972        Khan
3520973      Correy
3520974        Khan
3520975        Khan
3520976    O'Tooley
3520977        Khan
3520978      Correy
3520979        Khan
3520980    O'Tooley
3520981        Khan
3520982        Khan
3520983          Li
3520984        Khan
3520985        Khan
3520986      Correy
3520987        Khan
3520988          Li
3520989        Khan
3520990        Khan
3520991      Correy
3520992        Khan
3520993        Khan
3520994      Correy
3520995      Correy
3520996        Khan
3520997        Khan
3520998        Khan
3520999        Khan
3521000    O'Tooley
Name: Candidate, Length: 3521001, dtype: object

In [40]:
#The total number of votes each candidate won
tl=dfs["Candidate"].value_counts()
tl

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [57]:
#The percentage of votes each candidate won
ptc=round((tl / totalVotes)*100,2)
ptc

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [58]:
#The winner of the election based on popular vote.
print("Winner:", "Khan")

Winner: Khan

In [60]:
df_new = pd.concat([tl, ptc], axis=1)
df_new

          Candidate  Candidate
Khan        2218231       63.0
Correy       704200       20.0
Li           492940       14.0
O'Tooley     105630        3.0

In [61]:
print('Election Results')
print('-----------------')
print("Total Votes:", totalVotes)
print('-----------------')
print(df_new)
print('-----------------')
print("Winner:", "Khan")

Election Results
-----------------
Total Votes: 3521001
-----------------
          Candidate  Candidate
Khan        2218231       63.0
Correy       704200       20.0
Li           492940       14.0
O'Tooley     105630        3.0
-----------------
Winner: Khan